.txt-align{
    text-align: left !important;
    
}
.purpose > p{
    text-transform: uppercase;
    padding: 7px 0px;
     
}
.Rent{
    background-color:#00aeef;
}
.Sale, .sale{
     background-color: #0882d9;
}
.banimgOne{
   /* height: 500px;*/
    overflow:hidden;
}
.rent-buy-pad{
padding-top:35px;
}
.purpose{
   
    /*background-color: #0882d9;*/
    height: 41px;
    width: 33%;
    float: right;
    position: relative;
    top: -29px;
    right: 14px;
}
.prop-item{
    height: 43px;
}
.lot-size{
    margin-left: 0px;
}
.address{
    padding-top: 14px;
    padding-left: 7px;
    text-align: left;
    font-size:17px;
    color: #5b5b5b;
    font-weight: 600;

}

.txt-address{
     margin-bottom: 0px;
}
.txt-address2 > p{
    padding-top:14px;
}
.txt-address2{
    text-align:left;
    border-top:1px solid;
    padding-left:14px;
}
.items-prop{
    padding-left:14px;
}
 .price{
     color: #0882d9;
     font-size: 22px;
        line-height: 32px;
        text-align: left;
        padding-left: 14px;
         
    }
    .seven-cols{
     width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    }
    .height-fild{
     border-radius: 0px !important; 
    }
.height-fild >option{
color:#666666;
}
    .span-num{
    color: #fff;
    position: relative;
    top: 4px;
    padding-left: 4px;
    font-size: 19px;
    z-index: 99999;
    }
    
    .listyourpropertytxt>a, .logintxt>a, .registertxt>a{
        color:#000;
    }
    
  
   .move-prev{
    left: -29px;
 /*border: 2px solid gray;*/
    width:30px !important;
    height: 30px !important;
    position: absolute;
    top: 50%;
   
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    /*-moz-background-size: 27px 44px;*/
    /*-webkit-background-size: 27px 44px;*/
    /*background-size: 27px 44px;*/
    background-position: center;
    background-repeat: no-repeat;
  
   }
   .items-txt{
       float:right;
   }
   .back-clr{
       background-color:#fff;
   }
    
    .move-next{
    right: -19px ;
    position: absolute;
    top: 50%;
    /*width: 27px;*/
    /*height: 44px;*/
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    /*-moz-background-size: 27px 44px;*/
    /*-webkit-background-size: 27px 44px;*/
    /*background-size: 27px 44px;*/
    background-position: center;
    background-repeat: no-repeat;
    width:30px !important;
    height: 30px !important;
   }
  .about-txt{
text-align:center;
}
   .small-img{
    width: 100%;
    height: 167px;
   
    overflow: hidden;  
   }
   .bnner-text{
   position: absolute;
    top: 380px;
    margin-left: 108px;
    background-color: rgba(8, 130, 217, 0.93);
    width: auto;
    font-size: 30px;
    padding: 12px 10px;
    color: #fff;
   }
.real-estate-description-b{
height: 197px;
 
}

.list-block{
padding-top: 16px;
margin-left: -30px;
line-height: 30px;
}
.dre-property-more{
height:280px;
}
    .list-none{
      list-style-type:none;
    }
.thumbnail{
border:none !important;
padding-left:0px !important;
}
.simplegallery {
  margin: 0 auto;
  /*width: 417px;*/
  
}

.simplegallery .content {
  background: #fff;
  position: relative;
  /*width: 418px;*/
  height: auto;
  
}
 .content{
 height:345px !important;
 overflow:hidden;
 }

.simplegallery .content img {
  width: 100%;
  /*border: 1px solid #9c9c9c;*/
}

.simplegallery .thumbnail { margin-top: 5px; }
 
.simplegallery .thumbnail .thumb {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

 

.simplegallery .thumbnail .thumb img {

  /*border: 1px solid #9c9c9c;*/

  width: 100px;

}

.simplegallery .thumbnail .last { margin: 0; }

.clear { clear: both; }





.descrip{
  background-color: gray;
  color: #fff;
  padding: 10px 10px;
  width: 120px;
   margin-top: 80px;
}
.feature{
  background-color: gray;
  color: #fff;
  padding: 10px 10px;
  width: 178px;
}
.price-mode{
   background-color: #0882d9;
  color: #fff;
  padding: 0px 12px;
  font-size:23px;
  width: auto;
  float:right;
}

.txt-price{
  font-weight: 600;
}

.singlr-pad{
    padding-top:25px;
    padding-bottom: 41px;
}
.addres-h2{
    line-height: 8px;
    font-size: 24px;

}
.gray-color-font{
      color: #5b5b5b;
}
.gray-color-font>span{
padding-left: 14px;

}

.similar-rent-buy>p{
    position: relative;
    top: -124px;
    float: right;
   /* background-color: #0882d9;*/
    width: 41%;
    color: #fff;
    padding: 4px 17px;
    right: 20px;
}

.addmoreview, .addmoreview2 , .addmoreview3{
    height: 92px;
    width: 100px;
    margin-left: 15px;
    background-size: cover;
	background-position: center center;
}
.add-more-btn{
background-image:url('../images/addmore.png');
    width: 100%;
    height: 57px;
}
#uloaded{
	background-image:url('../images/feature.png');
	height:300px;
	/*overflow:hidden;*/
	 /*width: 100%;*/
	  background-size: cover;
	 background-position: center center;
}

.gray-back{
 background-color: #f7f7f7;
    }
/*.back-clr{*/
/*    background-color: #fff !important;*/
/*    border-color: #fff !important;*/
/*    }*/
.simlr-addrs> span{
    padding-left:4px;
}
.simlr-addrs{
    font-size: 12px;
   text-align:left;
}
.loc-ico{
    /*padding-top: 5px;*/
    float: left;
     width:10px !important;
 }
 .similar-item{
     height:342px;
 }
 .similar-price{
     width: 68%;
     background-color:#0882d9;
 }
 .similar-price p{
     padding:5px 10px;
     color:#fff;
 }
.single-prop-head{
    padding-bottom:30px;
}
.space-bar{
  padding-top: 555px;
}
.buy-rent{
    color:#fff;
}
.nav>li>a:hover, .nav>li>a:focus{
  background-color: none !important;
}
.dre-property .field.field-name-property-address .field-items div{
display: inherit;
}
.price-wrapper{
  margin-top: 10px;
  padding-top: 5px;
  background-color: #ccc;
  border-bottom: solid 2px #999;
  height: 50px;
  width: 100%;
}
.bath , .bed ,.sq-ft{
  padding: 6px 0px;
  float: left;
}

