.demo {
    max-width:450px;
}
ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
img {
    display: block;
    height: auto;
    border-radius: 0;
}
.lSSlideOuter .lSPager.lSGallery li.active{
    border-radius: 0;
    opacity: 0.5;
    filter: alpha(opacity=50);
}