@font-face {
    font-family: myraidproregular;
    src: url(MyriadPro-Regular.otf);
}
@font-face {
    font-family: latoheavy;
    src: url(Lato-Heavy.ttf);
}
@font-face {
    font-family: latomedium;
    src: url(Lato-Medium.ttf);
}
@font-face {
    font-family: latosemibold;
    src: url(Lato-Semibold.ttf);
}
@font-face {
    font-family: latoblack;
    src: url(Lato-Black.ttf);
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.custom-nav{
        top: -10px !important;
}
#navxxx {
    left: 349px !important;
}

}
@media screen\9 {
    .custom-nav {top: -10px !important;}
}
.teamimage{
    float: right;
}

 .main-nav3{
    position: relative !important;
    top: -123px !important;
    background: transparent!important;
    border: none !important;
   }

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    .span-num { 
        color:#fff;        
    }
}}

a[href^=tel] { color: #fff;font-size: 15px !important;}

.footer-p2{
    font-family: 'Inika', serif !important; 
    color:#000000 !important;  
    text-align: right!important;
    font-size: 13.5px!important; 
    font-weight: 600!important; 
    margin: 0!important; 
    padding: 0!important;
     
    text-transform: uppercase!important;
}
.footer-p1{
 font-family: 'Inika', serif !important;
 color:#000000!important; 
 font-size: 7px!important; 
 text-align: right!important; 
 margin: 0!important;
   
 padding-top: 15px!important;  
 text-transform: uppercase!important;
 line-height: 5px!important;
 }

.feature-image{
     height: 279px;
    width: 308px;
    background-repeat: no-repeat;
    background-image: url('http://fr37.wearedesigners.net/danu/prop/sites/all/themes/property/images/form/feature.png');

}
 /* .land-space{
    height: 127px;
  }*/
#wppb_form_success_message{
    padding-left: 0px!important;
}
.wppb-error{
    color:red;
}
.image-upload-more>span{
    position: relative;
    top:15px;
}
.padd-top-bot{
    padding-top: 30px;
    padding-bottom: 55px;
}
 .swiper-container {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        height: 527px;    
    }
    .wppb-form-error{
        color: red;
    }
.screen-reader-response{
    color: red;
    padding-left: 32px;
}
.screen-reader-response>ul, .wpcf7-validation-errors{
display: none;
}
    body{
    background-color:#f7f7f7;
    }
    .banimgOne2{
    /*height:200px;*/
    overflow:hidden;
    
    }
    #wppb_general_top_error_message, .wpcf7-not-valid-tip{
    font-weight: 400;
    color: red;
    font-size:14px;
    }
    .padd-bot{
     padding-bottom: 31px;
    }
    .under-line{
         border-bottom: solid 2px rgba(153, 153, 153, 0.29);
    }
  .myCheckbox{
   padding-bottom: 7px;
   margin-bottom: 0px!important; 
   width: 100%;
  }
    .button1{
      float:right;
     position: relative;
    top: 40px;
    }
    .wpcf7-submit{
        /*width: 131px;*/
    text-transform: uppercase;
    float: right;
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
    }
#edit-submitted-image-upload2-upload{
    top: 217px;
    left: 107px;

}
#edit-submitted-image-upload2-upload> img{
    width: 89%;
    margin: -23px 10px 9px -15px;

}
#edit-submitted-image-upload2-upload-button--2{
display:none;
}
#edit-submitted-gallery-images-upload{
	background-image:url('http://fr37.wearedesigners.net/danu/prop/sites/all/themes/property/images/form/addmore.png');
	background-repeat:no-repeat;
	/*width: 150px;
	 background-color:#00ADEF !important;*/
   	 position: relative !important;
   	 overflow: hidden !important;
   /* margin: 10px !important;*/
   
      padding-top: 33px;
    
}
#edit-submitted-gallery-images-upload >.form-file{
	top:-14px;	
	height: 39px;
        width: 212px;

}
.login-username,.login-password, .login-remember, .wppb-form-field{
color:#666666;
}
#user_login, #user_pass, #username,#first_name,#last_name,#email,#passw1,#passw2{
    display: block;
    width: 60%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.wppb-register-user>ul, .wppb-edit-user>ul{
    list-style-type: none;
    padding-left: 0px;
}

#register, #edit_profile{
position:relative;
  text-transform: uppercase;
    float: left;
    color: #fff;
    background-color: #0882d9;
    border-color: #0882d9;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;
}
.button-primary{
    text-transform: uppercase;
    float: left;
    color: #fff;
    background-color: #0882d9;
    border-color: #0882d9;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    -webkit-user-select: none;

}




#edit-submitted-gallery-images-upload-button, #edit-submitted-image-upload2-upload-button{
display:none;
}

.form-file {
    width: 100px;
    position: absolute !important;
   /* top: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 20px !important;*/
    cursor: pointer !important;
    opacity: 0 !important;
    filter: alpha(opacity=0) !important;
}

.navbar2{
    /*display:none  !important;*/
}
.navbar3{
    display:block  !important;
}
.description{
display:none
}

 a{
  
   
    font-family: latomedium;
    font-weight: initial;
}
#show{
padding: 27px 25px !important;
}
#hide{
padding: 27px 30px !important;
}

#show:img,#hide:img{
    width: 25px;
    height: 25px;
}


#hide{
    display: none;
}

.menu-3 {
    background: url(../images/login.jpg);
     background-repeat: no-repeat;
    width: 33% !important;
    padding-top: 5px !important;
    float: right;
}
.menu-3 a{
    padding-left: 25px;
}
.menu-17 {
   background: url(../images/register.jpg);
   background-repeat: no-repeat;
    width: 24% !important;
    padding-top: 5px !important;
   float: right;
}
.menu-17 a{
     padding-left: 25px;
}


#block-real-estate-property-re-exposed-filter-form select{
    width: 8em !important;
    height: 43px !important;
}

#block-real-estate-property-re-exposed-filter-form input{
    width: 9em;
    height: 42px;
}

.views-exposed-form .form-item, .views-exposed-form .form-submit{
    float: left;
}

.navbar-nav > li>a{
color:#fff !important;
}
/*header starts*/


/*Phonenumber stars*/
.phone-area{
    margin-bottom: 0px !important;
}
#phonenum{
  /*font-size: 19px;*/
    color: #fff;
    width: 76%;
    float:right;
    /*padding-top: 4px;*/
    white-space: nowrap;
    background-color: #0882d9;
}
.phonenumimg{
    display:inline;
}
.phonenumtxt{
     font-size: 16px;
    padding-left: 3px;
   
    display:inline;
    white-space:nowrap;
    color: white;
}
.content-about{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10em;
    padding-right: 10em;

}
.strong-txt2{
    padding-top: 70px;
    font-size: 24px;
    color: #666666;
    text-align: left;
    font-family: 'Lato', sans-serif !important;
    font-weight: 600 !important;
   
}
.strong-txt{
    text-align: center;
    font-weight: 800;
    color: #666666;
}
/*Phonenumber ends*/
.bold-txt{
padding-top:25px;
padding-bottom: 10px;
}

.bold-txt, .fproperty{
    font-family: 'Lato', sans-serif !important;
    font-weight: 600 !important;
    color:#6c6969;
}
.five-cols{
    width:20%!important;
}
.pading20{
    padding: 0px 22px;
}
.pad-about-us{
    padding-top: 5em;
    padding-bottom: 6em;
  /*  padding-left: 15px;*/
   /* padding-right: 15px;*/
}
.content-text2{
     font-family: 'Lato', sans-serif !important;
    font-weight: 500 !important;
    color:#666666;
    /*text-align:center;*/
    line-height: 22px;
}
.content-text{
    font-family: 'Lato', sans-serif !important;
    font-weight: 500 !important;
    color:#666666;
    text-align:center;
    line-height: 22px;
     padding-left: 3em;
    padding-right: 4em;
}
/*list your proerty with us starts*/
#listyourproperty{
    white-space:nowrap;
    padding-top: 7px;
    float: right;
}
.listyourpropertyimg, .loginimg, .registerimg{
    display:inline;
    padding-right: 5px;
}

.listyourpropertytxt{
    padding-left: 3px;
    display:inline;
    white-space:nowrap;
    font-size:12px;
    
}
.listyourpropertytxt>a{
    color: #000 important;
}
/*list your proerty with us ends*/


/*login starts*/
#login{
    white-space:nowrap;
    padding-top: 7px;
    float:right;
}

.logintxt{
font-size:12px;
    padding-left:3px;
    display:inline;
    white-space:nowrap;
    color: black;
}
/*login ends*/

/*register starts*/
#register-header{
    white-space:nowrap;
    padding-top: 7px;
    float:right;
}

.registertxt{
font-size:12px;
    padding-left: 4px;
    display:inline;
    white-space:nowrap;
    color: black;
}
/*register ends*/

/*navbar starts*/
.navbar-center{
    margin: 0px;
    border-radius: 0px;
    border: 0px;
}
.navbar-center .container-fluid{
    padding: 0px;
    border-radius: 0px;
}
.nav-bar-change{
/*    padding: 0px;*/
/*    border-radius: 0px;*/
    background-color: none;
    /*height: 50px;*/
/*    position: relative;*/
/*    top: 21px;*/
/*}*/
/*.nav-bar-change .nav .active{*/
/* background-color: #636363;*/
/*}*/
/*.nav-bar-change .nav >li .navbartxt{*/
/*    color: white;*/
/*    font-family: latomedium;*/
/*    font-size: 16px;*/
/*}*/
/*.nav-bar-change .nav >li>a{*/
/*    padding: 15px 22px;*/
}
/*navbar ends*/
.def-nav{
background-color: gray !important;
    position: relative;
    top: 25px;
}
/*header ends*/


/*index.php starts*/
/*carosel starts*/
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
/*carosel ends*/

/*secondmenu starts*/
.views-exposed-form{
    height: 1px;
}
.container{
   /* background-color: #fff !important;*/
}

a , p ,h1, h2, h3, body{
    font-family: 'Lato', sans-serif !important;
    font-weight: initial;
}
.views-exposed-form label{
    color: #fff;
      font-family: "latomedium";
      font-weight: initial !important;
}

.jcarousel-skin-default .jcarousel-container-horizontal{
/*padding-right: 54px !important;*/
}

.jcarousel-skin-default .jcarousel-item{
    width: 360px;
    height: 509px;
}
.wanted-submit-pad{
margin-bottom: 4px!important;
}

#edit-property-lot-size-value{

    width: 7em !important;
    height: 43px !important;
}
#edit-property-bedrooms-value{
     width: 6em !important;
    height: 43px !important;
}
#edit-property-address-locality {
    width: 8em !important;
    height: 43px !important;
}
#edit-property-bathrooms-value {
width: 6em !important;
    height: 43px !important;
}
#edit-property-type-value ,
#edit-property-price-value-min , #edit-submit-real-estate-property-list,
#edit-property-price-value-max{
     width: 8em !important;
    height: 43px !important;

}
.logoimg{
   /* position: relative;
    top: 42px;*/
}

.instuct-image{
margin-top: -10px;
font-size: 11px;
}



.navbar2{
    display: none;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.submitted{
    display: none;
}
.secondmenu .downarrow{
    float: right;
    margin-top: 10px;
}
.space-bar2{
  padding-top: 116px;}

.formsearch{
background-color: #a1a1a1;
position: relative;
   /* width: 106%;*/
  /*  top: -125px;*/
  /*  margin-left: 185px;*/
    height: 116px;

}
.search-row{
    padding-right: 0em;
    padding-left: 2em;
    padding-top: 11px;
}
.search-bar-new{
    padding-right: 4em;
    padding-left: 4em;
}
   .bigcol{
    left: 28px;
    height: 100px;
   /* background-color: #a1a1a1;*/
    position: relative;
    overflow: hidden;
    /*width: 95%;*/
width: 95%;
padding-left: 5em;
padding-right: 5em;
   /* margin-left: 14px;*/
    z-index: 9999;
   }
   
   .bigcol2{
    height: 96px;
    overflow: hidden;
   
    position: fixed;
    top:73px;
    z-index: 9999;
    margin-left: -7px;
    /*overflow: hidden;*/
    width: 79%;
    padding-left: 6em;
    /*animation: fadein 1s;*/
    /*-moz-animation: fadein 1s;*/ /* Firefox */
    /*-webkit-animation: fadein 1s;*/ /* Safari and Chrome */
    /*-o-animation: fadein 1s; *//* Opera */

   }

  @keyframes fadein {
    from {
        /*opacity:0;*/
    }
    to {
        /*opacity:1;*/
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        /*opacity:0;*/
    }
    to {
        /*opacity:1;*/
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        /*opacity:0;*/
    }
    to {
        /*opacity:1;*/
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        /*opacity:0;*/
    }
    to {
        /*opacity: 1;*/
    }
}



 .findlogo{
  /*  top:7px;*/
   /*height: 117px;*/
  /* width: 12%;*/
   padding-left: 17px;
   padding-right:0px;
    overflow: hidden;
}
.findlogo2{
    background-image: url(../images/logonew.png);
    z-index: 9999;
    height: 112px;
    /*width:100%;*/
    margin-top: -16px;
    background-repeat: no-repeat;

}
.findlogo2> img{
    display:none;
}

.logo{
    display: block;
}
.logo2{
    display: none;
}
.navbar-default2{
    display:none;
}

.navigationbar2{
    background-color: #fff;
    /*width: 100%;*/
    height:169px; 
    
}
 .search-bar{
   position: relative;
   top:-100px;
 
}

.secondmenu .btn{
    width: 100%; text-align: left;
    padding-left: 9px;
    padding-top: 8px;
    padding-bottom: 8px;

}
.padd-prop {
    margin-top: -80px;
    padding-top:20px;
}
.blueline2{
 margin-top: -5px;
 padding-bottom: 16px;
}
.blueline {
    padding-bottom: 14px;
    text-align: center;
    margin-top: -17px;
    
}
.back-white{
   background-color:#fff; 
}
.fproperty{
    font-size: 24px;
    color: #666666;
    text-align: center;
}
.property-image{
    height:239px;
    overflow:hidden;
}
.findyourtxt, .propertytxt{

    font-family: myraidproregular ;
    text-align: left;
    color: #0882d9;
    margin-bottom: 0px;
    margin-left: 17px;

}

.findyourtxt{
    font-size: 24px;
    margin-top: 20px;
}
.propertytxt{
    font-size: 26px;
    margin-bottom: 30px;
}
.secondmenu{
    position: absolute;
    z-index:100 ;
    top:-92%;
    left: 83px;
}
.secondmenutopic{
    font-family: latosemibold;
    font-size: 16px;
    color: white;
}
.search:hover{
    text-decoration: none;
}

.searchtxt{
    font-family: latosemibold;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color: #0882d9;
    min-height: 36px;
    padding-top: 6px;
    margin-top: 33px;
}
/*secondmenu ends*/

.secondmenu + .view-filters{
position: absolute;
top: -95%;
display: block;

}
.btn-lg, .btn-group-lg>.btn{
    font-size: 25px;
}
/*intro starts*/
.intro{
    margin: 0px 0px 25px;
    background-color: #fff;
}
.intro2{
    margin-top: -48px;
 background-color: #fff;
}
.form-submit{
    font-family: latosemibold;
   right: 0px;
   float: right;
    text-align: center;
    color: white;
    background-color: #0882d9;
    padding-top: 8px;
    padding-bottom: 8px;
    width: auto;
   border:none;
}
.introtxt{
    font-family: latomedium;
    text-align: center;
    font-size: 16px;
    color: #666666;

}
.introtopic{
    font-family: latoblack;
    text-align: center;
    font-size: 30px;
    color: #666666;
}
.conntact-top{
margin-top:126px;
}
/*index.php ends*/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + span,
[type="checkbox"]:checked + span{
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + span:before,
[type="checkbox"]:checked + span:before {
  content: '';
  position: absolute;
  left:0; top: 2px;
  width: 17px; height: 17px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 0px;
 border:2px solid #0882d9;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + span:after,
[type="checkbox"]:checked + span:after {
  content: '✔';
  position: absolute;
  top: 3px; left: 3px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + span:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + span:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + span:before,
[type="checkbox"]:disabled:checked + span:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + span:after {
  color: #999;
}
[type="checkbox"]:disabled + span{
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + span:before,
[type="checkbox"]:not(:checked):focus + span:before {
   border:2px solid #0882d9;
}

/* hover style just for information */
span:hover:before {
  border:2px solid #0882d9;
}
.add-more-btn{
    margin-top: -4px;
}
/*end Checkbox style*/
.formsub{
    border-bottom: 2px solid #cccccc;
   padding-bottom: 14px;
    }
    
.wpcf7-list-item-label,.formsub{
    color: #cccccc;
    font-weight: 400;
    

}

.contact-padd{
margin-top: 0px!important;
}
.wpcf7-mail-sent-ok{
    display: none;
}
/*footer starts*/
.footermainone{
    margin-top: 37px;
    padding-bottom: 25px;
}
/*first col starts*/
.footersub{
    font-family: "latomedium";
    color: #a1a1a1;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
}
.footermain{
    font-family: latoheavy;
    font-size: 13px;
    font-weight:600 !important;
}
.subcribe:hover{
    text-decoration: none;
}
.subcribe{
    text-align: left;
}
.subcribetxt{
    font-family: latosemibold;
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: #0882d9;
    padding-top: 6px;
    padding-bottom: 6px;
    max-width: 81px;
}

.footermainone .terms{
    font-family: latoheavy;
    font-size: 13px;
    color: #666666;
    text-align: left;
    margin: 0px;
    padding: 13px 2px 2px;
}
.footermainone .termsint{
    font-family: latomedium;
    font-size: 11.6px;
    color: #666666;
    text-align: left;
    margin: 0px;
    padding: 2px;
}

.footermainone .wad{
    padding-left: 0px;
    max-width: 141px;
}
/*first col ends*/
/*footer ends*/

.field-content a{
    font-size: 12px;
}
.postal-code{
    display: none;
}/*
.views-field-property-photo{
    margin-bottom: 60px;
}
.addressfield-container-inline {

}
.views-field-property-address{
    padding-left: 10px;
    position: absolute;
    top: 214px;
    width: 308px;
}
.views-field-property-address-1{
  padding-left: 68px;
    padding-top: 34px;

}*/
.views-field-property-address-1 > .field-content{
    background-image: url(../images/carosel2/locationmark.jpg);
    background-repeat: no-repeat;
    padding-left: 20px;
    margin: 20px;
}

.country{
    display: none !important;
}
.thoroughfare{
   float: left;
  /*   margin-right: -77px;*/
}
.premise{
    display: none;
}
.locality{

}
.views-field-property-price > .field-content{
    color:blue;
    line-height: 20px;
    font-size: 18px;   
    margin-left: -218px;
}
/*
.views-field-property-bathrooms{
padding-left: 16px;
    line-height: 29px;
    margin: 8px 0px;
}
.views-field-property-bedrooms{
padding-left: 16px;
    line-height: 29px;
    margin: 8px 0px;
}


*/
.views-field-property-lot-size
{
    padding: 8px;
    line-height: 29px;
   
}
.views-field-property-bedrooms{
     padding: 8px;
    line-height: 29px;
   
}
.views-field-property-bathrooms{
      padding: 8px;
    line-height: 29px;
        border-bottom: solid 1px;
}
.views-field-property-address{
        padding: 5px 10px;
}
.views-label >.field-content{
    float: right;
}
/*.views-field, .views-field-property-price >.field-content{
    background-color: blue;
    color: white;
}
*/
 .pad-top{
      padding-top: 139px;
     
    }

   
.color-white{
	background-color: #fff;
}
.main-text{
 padding-bottom: 25px;
padding-top: 100px;
text-align: center;
}
.main-text2{
 padding-bottom: 25px;
padding-top: 110px;
text-align: center;
}
.btn-default{
border-color:none !important;
}


.fa-square{
color:#666666;
}
.bed>p>img{
width:24%;
}
.bed>p>span{
color:#666666;
font-size:18px;
padding-left: 10px;
}

.sq-ft>p>img{
width:24%;
}
.sq-ft>p>span{
color:#666666;
font-size:18px;
padding-left: 10px;
}

.bath>p>img{
width:24%;
}
.bath>p>span{
color:#666666;
font-size:18px;
padding-left: 8px;
}

.views-field-field-purpose>.field-content ,
.views-field-field-purpose-for-buy >.field-content , 
.views-field-field-purpose-for-buy-1 >.field-content ,
 .views-field-field-purpose-for-rent-1 >.field-content {
    position: relative;
    top:-22px;
    background-color: #0882d9;
    color: white;
    padding: 5px 20px;
    margin-left: 191px;
    margin-right: 43px;
}

.views-field-property-purpose >.field-content {
    position: relative;
    top:-22px;
    background-color: #0882d9;
    color: white;
    padding: 5px 20px;
    margin-left: 191px;
    margin-right: 43px;
}
/*.jcarousel-skin-default .jcarousel-container-horizontal{
    margin-left: -75px !important;
    width: 114%;
}
.block-real-estate-property>h2{
    display: none;
}
.jcarousel-skin-default .jcarousel-next-horizontal{
    right: 18px !important;


}*/
.field-name-property-facilities > .field-label, .field-name-property-address>.field-label{
    display: none ;
}

 .region-highlighted{
 position: absolute;
    top: 1159px;
}

  
 .field-name-field-facilities > .field-items> .field-item{
  background: no-repeat;
    padding-left: 23px;
    padding-bottom: 10px;
   /* padding-top: 10px;*/
    line-height: 13px;
    background-image: url(../images/rect.png)

}

#map_canvas{
 /*   width: 1340px;*/
}
.jcarousel-item-horizontal{
    margin-top: 15px !important;

}
.lbl{
    color:#fff;
}
.space-bar{
  padding-top: 456px;
}
.form-select{
  height: 40px;
  width: 120px;
}
.pad-row{
    padding-top: 25px;
}
 .search-padd{
     padding-right: 2px;
    padding-left: 5px;
 }
.padd0{
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-nav > li>a{
    text-transform:uppercase;
}
/*#wanted-id{*/
/*    width:13%!important;*/
/*}*/
#searchsubmit{
    width:77%;
    margin-top: 25px;
    border-radius: 0px;
    background-color: #0882d9 !important;
    border-color: #0882d9 !important;
}
#navbar2>ul>li>a:hover{
    background-color:#0882d9!important;
}
.navigationbar{
    background-color: #fff;
    /*width: 100%;*/
    height: 139px;
/*padding-bottom: 0px ;
    /*padding-top: 77px;*/
 /*   margin-bottom: 0px;
top:0px;
z-index:100;
padding: 19px 0px 0px 0px;*/
}
.footermainone{
    padding-top: 15px;
    background-color: #fff;
}
.menu-476 {
    position: absolute;
    top:4px;
   /* width: 65% !important;*/
    padding-left: 40px;
    z-index: 1000;
}
.printpage, .printpage:hover{
    background-color: #0882D9;
    color: #fff;
    padding: 10px 22px 10px 10px;
    font-size: 18px;
    text-decoration: none;

}
.printpage >img, .enquery>img{
    padding-right: 7px;
}
.def-nav >li > a:hover{
    background-color: #333 !important;
}
.enquery , .enquery:hover{
    background-color: #0882D9;
    color: #fff;
    padding: 10px 22px 10px 10px;
    font-size: 18px;
    text-decoration: none;

}
#feature-image-field{
width:100% !important;  
}
#more-image-field {
     width: 100%;

}




.def-nav>.current-menu-item{
background-color: #4a4545 !important;    
}
.navbar3>ul>.current-menu-item{
    background-color:#0882d9;
}
.navbar-sub>.current-menu-item{
    background-color:#0882d9;
}
.address-larg{
    font-weight: 700;
   text-align: left;
}
.navxxx{
    display:none;
}
 .main-nav{
        top:0px;
        /*position: relative;*/
        /*margin-bottom: -18px!important;*/
        /*background-color:none !important;*/
        border:none !important;
    }
    .main-nav2{
      display:none;  
       background-color:none !important;
        border:none !important;
    }
/*.jcarousel-skin-default .jcarousel-prev-horizontal:hover {
    background-position: -45px 0;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover {
    background-position: -39px -37px;
}
.jcarousel-skin-default .jcarousel-next-horizontal {
    right: 0px !important;
}*/
.imageblock-image{
    width:100%;
}

.formain{
    font-size: 14px !important;
    font-weight: 900;
    padding-top: 13px;
    margin-bottom: -2px;
}

#navxxx{  
    z-index: 1000;
    background-color: #ccc;
    top: 167px;
    left: 349px;
}
#navxxx .nav .active {
    background-color: #0882d9;
}

#btnnav{
    border: none;;
    /*display: none;*/
    margin-left: 592px;
    position: relative;
    top: 7px;
    z-index: 999;
}
/*#navbar2{*/
/*    display: none;*/
/*}*/
#navbar2 .nav{
    margin-left: -4px;
}

.propdetail{
    padding-top: 15px;
}
 .main-nav{
    	background-color:transparent !important;
}






/* Ipad size*/

@media(min-width:768px) and (max-width: 1024px){

.wpcf7-list-item-label,.formsub{
      font-size: 10px!important;
       
}
    .footer-p1{
 font-size: 5px !important;

    }
    .footer-p2{
 font-size: 10px!important;

    }
.main-text2{
     padding-top: 119px !important;
}
.main-text{
     padding-top: 40px!important;
}
.formsearch{
    height: 73px !important;
}
    .address, .txt-price{
        font-size: 15px !important;
    }
.pad-top{
    padding-top: 25px!important;
}

.padd-top-bot {
    padding-top: 12px ;
    }
 .banimgOne2 {
    padding-top: 98px;
    /*height: 240px;*/
}
.bold-txt {
    padding-top: 0px;
}
.pad-aside{
    padding-bottom: 40px!important;
        /*padding:0px 0px !important;*/
}
   .rent-buy-pad {
    padding-top: 80px!important;
}     
    .descrip{
    margin-top: 145px !important;
    }

    .real-estate-description-b {
        height: 230px!important;
        position: relative;
        top: 42px;
        }
    .inttroform {
       padding-left: 0px; 
       padding-right: 0px; 
    }

    #show, #hide {
        padding: 18px 2px !important;

        margin-right: -5px;
        margin-left: 11px;
    }
    .move-next,.move-prev{

    top:43% !important;
    }

     #uloaded{
        width:61% !important;

      }
    .findlogo2{   
       margin-top:0px!important;
       background-size: 119px 79px;
    }


     .add-more-btn{
    width:33% !important;
    }
      .move-next {
    right: 23px!important;
    	
    }
    #searchsubmit {
    width: 89%!important;
        
    }
    .move-prev {
    left: 13px!important;
    	
    }
     #listyourproperty {
   
    padding-top: 8px!important;
    float: right;
    }
     .search-row {
    padding-top: 0px!important;
     }
     
    .findlogo2> img{
       
    }
    .findlogo{
        width:14% !important;
    }
    
    .main-nav {
    top: -23px;
    
        
    }
    #btnnav {
    border: none;
    /* display: none; */
    margin-left: 550px;
    position: relative;
    top: 20px;
    z-index: 999;
    }
    #navxxx{
  
    z-index: 1000;
    background-color: #ccc;
     top: 160px;
    left: 142px;


}
   
    .navigationbar2 {
    height: 160px  !important;
    }
    .bigcol,  .bigcol2 {
    left:0px!important;
    height: 74px !important;
    top: 12px!important;
    background-color: #a1a1a1 !important;
}

      a , p{
        font-size: 13px;
    }
    .bnner-text {
    position: absolute;
    top: 317px !important;
    margin-left: 45px !important;
    background-color: rgba(0, 0, 255, 0.63);
   
   
    }
  .nav-bar-change2{
    display:none !important;
    }

    .lbl {
    
    font-size: 11px;
    }
  .navigationbar{
   height: 126px !important;      
     }

.search-bar{
    top:-84px !important;
}

 #bigsearch{
         /*border-radius:14px;*/
     }
     
     .span-num {
    font-size: 17px!important;
    position: relative;
    top: 1px!important;
     }
     #phonenum {
     margin-left: 0px;
     width: 84%!important;
     float: left; 
     }
   
     
     
      {
    height: 132px !important;
     }
     .pad-top {
    padding-top: 129px;
    .logo{
        margin-top: 42px!important;
    }
    
    
}
}








/*iphone plus size*/

@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px)and (orientation : landscape) { /* Iphone 6 plus STYLES GO HERE */

.main-nav {
    top: -145px !important;
}
.teamimage{
    float: left;
}
.singlr-pad{
        padding-bottom: 0px !important;
    }
.thumb{
    width: 55px!important;
    height: 55px!important;
}
.screen-reader-response{
   
    padding-left: 0px !important;
}
    #listyourproperty{
        float:left;
         margin-left: -33px;
    }
    #login,#register-header{
         float:left;
         margin-left: -11px;
    }
    .fproperty{
    padding-top: 50px;
    font-size:17px!important;
    }
   .banimgOne2 {
    /*height: 133px!important;*/
    } 
    .navbar-collapse {
    overflow-y: visible!important;
     }
    .descrip{
margin-top: 145px !important;
}
.bed>p>span, .bath>p>span, .sq-ft>p>span{
padding-left:0px!important;
}
.real-estate-description-b {
    height: 300px!important;
    position: relative;
    top: 5px;
    }
    
    
    .span-num{
        padding-left: 0px!important;
    
    }
   
    .pad-bot{
        padding-top: 25px;
    }
    .main-text{
    
        padding-top:0px!important;
    }
   .logo2, .logo {
    max-width: 130%!important;
    display: block !important;
    top: -18px;
    position: relative;
    }
    #navbar{
    border-top:none!important;
    }
    .formsearch{
        height: 564px;
    }
    .seven-cols{
        width:100%!important;
    }
    .span-num {
    position: relative;
    top: 1px;
    color:#fff!important; 
   font-size: 20px !important;   
    }
    
    .footermainone{
        padding-top:530px;
    }
    #phonenum {
    margin-left: 98px !important;
    width: 36%;
    top: -3px;
    position: relative;
    float:left !important;
    }
    .main-nav2{
    display:block !important;
    position: relative;
    top: -120px;
    background-color: transparent !important;
    }
  .main-nav{
         top:-77px !important;
         background-color: transparent !important;
         display:block !important;
         position: relative;
         border:none !important;
         
   }
   .mobile-pad{
       padding-left: 15px!important;
       padding-right: 15px!important;
   }
   .mobile-pad0{
       padding-top: 12px;
       padding-left: 0px!important;
       padding-right: 0px!important;
   }
     #searchsubmit{   
     padding: 9px 99px;
    margin-top: 21px;
    margin-left: 14px;
     width:88% !important;
     }
     #bigsearch{
         border-radius:0px;
         box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.22);
     }
    .height-fild{
    height:52px;
   }
    .move-prev {
    left: 12px !important;
 
   }
   .move-next {
    right: 19px !important;
 
   }
    a ,span, p{
        font-size: 11px !important;
    }
    .bnner-text {
    position: absolute;
   top: 203px !important;
    margin-left: 15px !important;
    background-color: rgba(0, 0, 255, 0.63);
   
   
    }
     .address{
    font-size: 12px !important;
     }
    .findlogo, .findlogo2{
        display: none;
    }
    .bigcol,.bigcol2{
        height:412px !important;
        position: static !important;
         margin-left: 19px!important;
        width: 89%!important;
padding-left: 0em!important;
    padding-right: 2em!important;
    background-color: #a1a1a1 !important;

        /*margin-left: 15px !important;*/
    }
  .main-text2{
        padding-top: 0px!important;
    }
    .roperty-image {
    height: 217px !important;
    overflow: hidden;
    
    }
    .back-clr{
       /*  background-color:transparent !important;*/
        /*background-color: #a1a1a1 !important;*/
    }
   .inttroform {
    padding-left: 0px!important;
    padding-right: 0px!important;
   }
    .purpose {
    /* background-color: #0882d9; */
    height: 32px !important;
    width: 27% !important;
    float: right;
    position: relative;
    top: -20px !important;
    right: 14px;
    }
    .banimgOne {
    /*height: 247px !important;*/
    }
    
     .lbl {
    
    font-size: 12px;
    }
   
    .navigationbar{
   height: 110px !important;      
     }   
     
     
     .navigationbar2{
      height: 110px !important;  
     }


     .pad-top{
         padding-top: 110px !important;    
     }
     .pad-top2{
         padding-top: 20px !important;    
     }

     
 .nav-bar-change2{
    background-color: #878282 !important; 
 }

.search-bar{
    margin-top: 13px!important;
    position: static !important;
}
.add-more-btn{
   width:66%!important; 
}

#footid{
    padding-top:0px;
}

}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (orientation : landscape)
 { /* apple ipad STYLES GO HERE */
   #btnnav{
    position: relative;
    margin-left: 500px !important;
    top: 0px !important;
    } 
    #show, #hide {
        padding: 18px 8px !important;
    }
    .descrip {
    margin-top: 25px !important;
    }
    .real-estate-description-b{
        height: 247px!important;
    }
    .dre-property-more{
        padding-top:20px; 
    }
    .bath>p>span,.bed>p>span,.sq-ft>p>span{
        font-size: 15px;
    }
}










@media(min-width:320px) and (max-width: 568px){
    .five-cols{
        width: 100% !important;
    }
    .bullrt-point{
        padding-left: 35px;
    }
    .image-upload-more > span{
        top: 20px!important;
    }
    .main-nav3{
    position: relative !important;
    top: -131px !important;
    background: transparent!important;
    border: none !important;
   }
    .screen-reader-response{

    padding-left: 0px !important;
    }
#phonenum {
    margin-left: 15px!important;
    width: 64%!important;
    float: left !important;
}
}










@media(min-width:320px) and (max-width: 700px){
    .five-cols{
        width: 100% !important;
    }
    .bullrt-point{
        padding-left: 35px;
    }
 .teamimage{
    float: left;
}
.content-about{
    padding: 0em 2em!important;
}
.pad-about-us {
    padding-top: 2em;
    padding-bottom: 1em;
}
.conntact-top {
    margin-top: 55px!important;
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) 
{ @media {
    .main-nav2{ 
        top: -195px !important;

    }
}}


    .mobile-menu-size{
        padding: 11px 10px !important;

    }
.pad-aside{
    padding-bottom: 40px!important;
        /*padding:0px 0px !important;*/
}
    .singlr-pad{
        padding-bottom: 0px !important;
    }
.thumb{
    width: 55px!important;
    height: 55px!important;
}
    #listyourproperty{
        float:left;
         margin-left: -33px;
    }
    #login,#register-header{
         float:left;
         margin-left: -11px;
    }
    .fproperty{
    padding-top: 50px;
    font-size:17px!important;
    }
   .banimgOne2 {
    /*height: 133px!important;*/
    } 
    .navbar-collapse {
    overflow-y: visible!important;
     }
    .descrip{
margin-top: 145px !important;
}
.bed>p>span, .bath>p>span, .sq-ft>p>span{
padding-left:0px!important;
}
.real-estate-description-b {
    height: 300px!important;
    position: relative;
    top: 5px;
    }
    
    
    .span-num{
        padding-left: 0px!important;
    
    }
   
    .pad-bot{
        padding-top: 25px;
    }
    .main-text{
    
        padding-top:0px!important;
    }
    .logo2, .logo{
    max-width: 217%; 
    display:block !important;
    
    }
    #navbar{
    border-top:none!important;
    }
    .formsearch{
        height: 564px;
    }
    .seven-cols{
        width:100%!important;
    }
    .span-num {
    position: relative;
    top: 1px;
    color:#fff!important; 
    font-size: 16px !important;    
    }
    
    .footermainone{
        padding-top:530px;
    }
    #phonenum {
        z-index: 99999!important;
    margin-left: 40px;
    width: 52%;
    float:left !important;
    }
    .main-nav2{
    display:block !important;
    position: relative;
    top: -122px;
    background-color: transparent !important;
    }
  .main-nav{
         top:-77px !important;
         background-color: transparent !important;
         display:block !important;
         position: relative;
         border:none !important;

   }
   .mobile-pad{
    height: 10px;
       padding-left: 15px!important;
       padding-right: 15px!important;
   }
   .mobile-pad0{
       padding-left: 0px!important;
       padding-right: 0px!important;
   }
     #searchsubmit{   
     padding: 9px 99px;
    margin-top: 21px;
    /*margin-left: 14px;*/
     width:100% !important;
     }
     #bigsearch{
         border-radius:0px;
         box-shadow: 0 0 15px 7px rgba(0, 0, 0, 0.22);
     }
    .height-fild{
    height:52px;
   }
    .move-prev {
    left: 12px !important;
 
   }
   .move-next {
    right: 19px !important;
 
   }
    a ,span, p{
        font-size: 11px !important;
    }
    .bnner-text {
    position: absolute;
   top: 145px !important;
    margin-left: 15px !important;
    background-color: rgba(0, 0, 255, 0.63);
   
   
    }
     .address{
    font-size: 12px !important;
     }
    .findlogo, .findlogo2{
        display: none;
    }
    .bigcol,.bigcol2{
        height:412px !important;
        position: static !important;
         margin-left: 19px!important;
        width: 89%!important;
        padding-left: 0em!important;
    padding-right: 2em!important;
     background-color: #a1a1a1 !important;
        /*margin-left: 15px !important;*/
    }
    .main-text2{
        padding-top: 0px!important;
    }
   /* .bigcol2{
         position: static !important;
          height:550px !important;
          width: 89%!important;
          margin-left: 19px!important;
    }*/
    .roperty-image {
    height: 217px !important;
    overflow: hidden;
    
    }
    .back-clr{
       /*  background-color:transparent !important;*/
        /*background-color: #a1a1a1 !important;*/
    }
   .inttroform {
    padding-left: 0px!important;
    padding-right: 0px!important;
    }
    .purpose {
    /* background-color: #0882d9; */
    height: 32px !important;
    width: 27% !important;
    float: right;
    position: relative;
    top: -20px !important;
    right: 14px;
    }
    .banimgOne {
    /*height: 247px !important;*/
    }
    
     .lbl {
    
    font-size: 12px;
    }
   
    .navigationbar{
   height: 110px !important;      
     }   
     
     
     .navigationbar2{
      height: 110px !important;  
     }


     .pad-top{
         padding-top: 110px !important;    
     }
     .pad-top2{
         padding-top: 20px !important;    
     }

     
 .nav-bar-change2{
    /*background-color: #878282 !important; */
 }

.search-bar{
    margin-top: 13px!important;
    position: static !important;
}
.add-more-btn{
   width:66%!important; 
}

#footid{
    padding-top:0px;
}
}





@media(min-width:1367px)and (max-width: 1400px){
.bigcol2{
width:1148px!important;
}
#navxxx{
    left: 286px!important;
}
}



@media(min-width:1400px){
.bnner-text{
  
    margin-left: 143px !important;
}
.bigcol2{
top:73px!important;
width:1146px !important;
}
#btnnav {
   
    margin-left: 644px!important;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.custom-nav{
        top: -10px !important;
}
#navxxx {
    left: 403px !important;
}

}
/*#navxxx{
    left: 343px !important;
}*/
}
