.menu{
width:100%;
}
.user-menu {  
      padding-top: 20px;
    padding-bottom: 27px;
  /* blue color #0882d9    gray active #636363 and not #a1a1a1*/
  }
  .navbar-right{
  background-color:#a1a1a1;
  }
  .navbar-nav  a{
  color:#fff !important;
  }

.navbar-right .navbar-nav>.active>a, .navbar-right .navbar-nav>.active>a:focus, .navbar-right .navbar-nav>.active>a:hover
{  
  background-color:#636363 !important;
  color: white;
  }
  .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
  li a:hover {
    background-color: #555;
    color: white;
}
  .call-us{
    background-color: #0882d9;
    width: 78%;
    height: 5%;
    float: right;
    padding-left: 42px;
    padding-top: 35px;
    margin-top: -1%;
    margin-right:-7%;
  }
  .call-us p{
  position:absolute;
   top: 3px;
   left: 50%;
  color:white;
  font-size: 18px;

  }
  ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 3.2em;
}
.main-menubar{
  position: relative;
  top:-27px;

}

.toggle-nav{
  /*display: none;*/
      float: right;
    position: fixed;
    z-index: 200;
    top: 88px;
    width: 30px;
     display:inline-block;
       
        border-radius:3px;
       /* background:#928A8A;*/
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color:#777;
        font-size:20px;
        transition:color linear 0.15s;
}
.header1{
  height: 130px;
}
  input[type="text"]{
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 12px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus{
  outline: none;
}
.form-item  input[type="text"]{
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.form-item  input[type="text"]:focus
 {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.form-item  input[type="password"]:focus
 {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.form-item  input[type="email"]:focus
 {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.imageblock-image{
z-index: 20;

max-width: 100%;
height:400px;
}

.content-area{
  position: absolute;
  top: 525px;
  width: 80%;
}
footer{
  width: 100%;
      position: absolute;
    top: 133%;
}
  input[type="password"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 12px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
.coll a{
  float: right;
}
.call_logo{
  position: absolute;
  top:2px;
  left: 94px;
}
#secondary-menu{
  float: right;
}


input[type="password"]:focus{
  outline: none;
}
.form-item input[type="password"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}

.form-item  input[type="password"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}


input[type="submit"]{
  height: 44px;
  color:#fff;
  border: none;
  width: 143px;
  background-color:#428bca;
  }
  input[type="submit"]:hover,input[type="submit"]:focus,{
  color:#fff;
  background-color:#3276b1;
  }
  input[type="submit"]:active,input[type="submit"].active {background-image:none}