@media(min-width:768px) and (max-height: 1024px) and (orientation:portrait){
    .view-filters{
            margin-left: 0px !important;
        background-image: none !important;
            padding-left: 1% !important;
            width: 101% !important;
    }
    .jcarousel-skin-default .jcarousel-item {
    width: 345px !important;
    height: 509px !important;
}
    #hidediv{
    display: flex;
}
    .navigationbar{
    position: relative;
}
.space-bar2 {
    padding-top: 0;
}
    .formsearch{
    margin-left: 0px !important;
    background-image: none !important;
    padding-left: 1% !important;
    top: -247px ;
    background-repeat: no-repeat;
    position: relative;
    height: 105px ;
    z-index: 100;
    width: 128%;
    background-color: #a1a1a1;
    z-index: 100;
    /* width: 101%; */
    padding-left: 191px;
    padding-top: 10px;
    margin-left: -54px !important;
    margin-right: 20px;
    }
    .form-select {
   
    width: 86px;
}
}

@media(min-width:414px) and (max-height: 736px) and (orientation:portrait){
    .view-filters{
        display: none;
    }
    .navbar{
        display: none !important;
    }
    .jcarousel-skin-default .jcarousel-item{
        float: none !important;
        width: 339px !important;
    }
    .jcarousel-skin-default .jcarousel-container-horizontal {
    margin-left: -39px !important;
    width: 114%;
    padding-right: 0 !important;
}
    .formsearch{
        display: none;
    }
    .bigcol .findlogo{
        display: none;
    }
  
}